<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Here you add in-app news</title>
		</head>
	<body>

		<h1>Add news</h1>
		<hr>
		<form action="/news/save" method="POST">
			<p>
				<label>Title:</label>
				<input type="text" name="titulo" id="titulo" placeholder="Title of news">
			</p>
			<p>
				<label>Summary:</label>
				<input type="text" name="resumo" id="resumo" placeholder="Summary of news">
			</p>
			<p>
				<label>Author:</label>
				<input type="text" name="autor" id="autor" placeholder="Author of news">
			</p>
			<p>
				<label>Date:</label>
				<input type="date" name="data_noticia" id="data_noticia" placeholder="Date of news">
			</p>
			<p>
				<textarea rows="5" cols="30" name="noticia" id="noticia" placeholder="Content of news"></textarea>
			</p>
			<p><input type="submit" placeholder="Enviar"></p>
		</form>

	</body>
</html>