<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>News</title>
		</head>
	<body>

		<h1>News</h1>

		<table>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Date</th>
			</tr>
			<% for(let i = 0; i < news.length; i++){ %>
			<tr>
				<td><%= news[i].id_noticia %></td>
				<td><%= news[i].titulo %></td>
				<td><%= news[i].data_criacao %></td>
			</tr>
			<% } %>
		</table>

	</body>
</html>